$yellow: #fff003;
$rojo: #FC2D01;
$verde: #098b30;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.color{
    color: $rojo;
}
.btn {
    width: 100% ;
    @include margenes(50px,0px);
}

.jumbotron{
    margin-top: 50px;
    background-color: $yellow;
}

.oi{
    padding-right: 5px;
}

.card{
    flex: 1 300px;
}

.card-img-top{
    width: 100%;
    height: 300px;
}

.carousel img{
    height: 300px;
    border-radius: 5px;
}

.tab-content{
    padding-top: 10px;
}

footer{
    background-color: $yellow;
}