.color {
  color: #FC2D01;
}
.btn {
  width: 100% ;
  margin-top: 10px;
  margin-bottom: 0px;
}
.jumbotron {
  margin-top: 50px;
  background-color: #fffa19;
}
.oi {
  padding-right: 5px;
}
.card {
  flex: 1 300px;
}
.card-img-top {
  width: 100%;
  height: 300px;
}
.carousel img {
  height: 300px;
  border-radius: 5px;
}
.tab-content {
  padding-top: 10px;
}
footer {
  background-color: #fffa19;
}
